* {
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
    min-width: 100%
}

body {
    background-color: #000000;
    height: auto;
}

a, p, h1, #searchbarInput {
    font-family: 'DM Mono', monospace;
    font-size: 14px;
    text-decoration-line: none;
    outline: none;
}

a {
    color: rgb(160, 160, 160);
    transition: 1s;
}

a:hover, button:focus, a:focus {
    color: white;
    transition: 1s;
}

button {
    border: 0;
    background-color: transparent;
    outline: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.sticky {
    position: sticky;
    position: -webkit-sticky;
}

#webringTorus {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#seWebringLogo {
    top: 0px;
    left: 0px;
}

#centeredContent {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

#searchbarSection {
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50vh;
    margin-bottom: 20px;
    top: 15px;
    border-bottom-color: rgb(160, 160, 160);
	border-bottom-style: solid;
	border-bottom-width: 1px;
    width: 65%;
}

#searchBarIcon {
    /* position: relative; */
    vertical-align: middle;
}

#searchbarInput {
    /* position: relative; */
    margin-left: 5px;
    background-color: rgba(0, 0, 0, 0);
    caret-color: white;
    color: white;
    border: none;
    height: 20px;
    outline: none;
    width: 100%;
}

#mainTable {
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    gap: 20px;
    width: 65%;
    top: 0px;
    margin-bottom: 20px;
}